USE [rapphim6]
GO
/****** Object:  Table [dbo].[Banner]    Script Date: 7/24/2026 3:36:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](200) NULL,
	[HinhAnh] [nvarchar](max) NOT NULL,
	[LinkUrl] [nvarchar](max) NULL,
	[ThuTu] [int] NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[DangHoatDong] [bit] NULL,
	[NgayTao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatGhe]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatGhe](
	[DatVeId] [bigint] NOT NULL,
	[GheNgoiId] [bigint] NOT NULL,
	[LichChieuId] [bigint] NULL,
	[GiaTien] [decimal](12, 2) NOT NULL,
	[HeSoGiaLucDat] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatVeId] ASC,
	[GheNgoiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatSanPham]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatSanPham](
	[DatVeId] [bigint] NOT NULL,
	[SanPhamId] [bigint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaLucMua] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DatVeId] ASC,
	[SanPhamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGiaPhim]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGiaPhim](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PhimId] [bigint] NULL,
	[NguoiDungId] [bigint] NULL,
	[Diem] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatVe]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVe](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDatVe] [varchar](20) NOT NULL,
	[NguoiDungId] [bigint] NULL,
	[LichChieuId] [bigint] NULL,
	[KhuyenMaiId] [bigint] NULL,
	[TongTienGoc] [decimal](15, 2) NOT NULL,
	[TienGiamKhuyenMai] [decimal](12, 2) NULL,
	[DiemSuDung] [int] NULL,
	[TienGiamTuDiem] [decimal](12, 2) NULL,
	[TongTienThanhToan] [decimal](15, 2) NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[TrangThaiThanhToan] [varchar](20) NULL,
	[MaQR] [nvarchar](max) NULL,
	[NgayTao] [datetime2](7) NULL,
	[HetHanGiuGhe] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DinhDang]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DinhDang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDinhDang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DinhDang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GheNgoi]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GheNgoi](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PhongChieuId] [bigint] NULL,
	[HangGhe] [char](2) NOT NULL,
	[SoGhe] [int] NOT NULL,
	[LoaiGhe] [nvarchar](20) NULL,
	[HeSoGia] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioiThieu]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioiThieu](
	[Id] [int] NOT NULL,
	[TieuDe] [nvarchar](300) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnhUrl] [nvarchar](max) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
 CONSTRAINT [PK_GioiThieu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [varchar](50) NOT NULL,
	[TenKhuyenMai] [nvarchar](200) NULL,
	[MoTa] [nvarchar](max) NULL,
	[LoaiGiamGia] [varchar](20) NULL,
	[GiaTriGiam] [decimal](12, 2) NULL,
	[GiaTriGiamToiDa] [decimal](12, 2) NULL,
	[DonHangToiThieu] [decimal](12, 2) NULL,
	[CapDoApDung] [nvarchar](20) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[GioiHanSuDung] [int] NULL,
	[DaSuDung] [int] NULL,
	[DangHoatDong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai_Phim]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai_Phim](
	[KhuyenMaiId] [bigint] NOT NULL,
	[PhimId] [bigint] NOT NULL,
 CONSTRAINT [PK_KhuyenMai_Phim] PRIMARY KEY CLUSTERED 
(
	[KhuyenMaiId] ASC,
	[PhimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieu]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PhimId] [bigint] NULL,
	[PhongChieuId] [bigint] NULL,
	[ThoiGianBatDau] [datetime2](7) NOT NULL,
	[ThoiGianKetThuc] [datetime2](7) NOT NULL,
	[GiaCoBan] [decimal](12, 2) NOT NULL,
	[TrangThai] [varchar](20) NULL,
	[IsDeleted] [bit] NOT NULL,
	[NgayTao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuCapNhatPhim]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuCapNhatPhim](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PhimId] [bigint] NULL,
	[NguoiSuaId] [bigint] NULL,
	[TruongSua] [nvarchar](100) NOT NULL,
	[GiaTriCu] [nvarchar](max) NULL,
	[GiaTriMoi] [nvarchar](max) NULL,
	[ThoiGian] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[MatKhauHash] [nvarchar](max) NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[AnhDaiDien] [nvarchar](max) NULL,
	[GoogleId] [nvarchar](100) NULL,
	[FacebookId] [nvarchar](100) NULL,
	[VaiTro] [varchar](20) NULL,
	[TrangThai] [bit] NULL,
	[IsEmailVerified] [bit] NULL,
	[TongTienDaChi] [decimal](15, 2) NULL,
	[CapDoThanhVien] [nvarchar](20) NULL,
	[DiemTichLuy] [int] NULL,
	[LyDoKhoa] [nvarchar](200) NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayCapNhat] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiDungId] [bigint] NULL,
	[Token] [nvarchar](255) NOT NULL,
	[NgayTao] [datetime2](7) NULL,
	[NgayHetHan] [datetime2](7) NOT NULL,
	[DaSuDung] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](255) NOT NULL,
	[TenPhimTiengAnh] [nvarchar](255) NULL,
	[DaoDien] [nvarchar](200) NULL,
	[DienVienChinh] [nvarchar](500) NULL,
	[ThoiLuong] [int] NULL,
	[NgonNgu] [nvarchar](50) NULL,
	[PhanLoaiDoTuoi] [varchar](10) NULL,
	[PosterUrl] [nvarchar](max) NULL,
	[TrailerUrl] [nvarchar](max) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DiemDanhGia] [decimal](3, 2) NULL,
	[SoLuongDanhGia] [int] NULL,
	[TrangThai] [varchar](20) NULL,
	[IsDeleted] [bit] NULL,
	[NgayCongChieu] [date] NULL,
	[NgayTao] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim_DinhDang]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim_DinhDang](
	[PhimId] [bigint] NOT NULL,
	[DinhDangId] [bigint] NOT NULL,
 CONSTRAINT [PK_Phim_DinhDang] PRIMARY KEY CLUSTERED 
(
	[PhimId] ASC,
	[DinhDangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim_TheLoai]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim_TheLoai](
	[PhimId] [bigint] NOT NULL,
	[TheLoaiId] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhimId] ASC,
	[TheLoaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RapChieuId] [bigint] NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[LoaiPhong] [nvarchar](30) NOT NULL,
	[SucChua] [int] NOT NULL,
	[SoDoGhe] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[DinhDangId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RapChieu]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RapChieu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenRap] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[BanDoUrl] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL,
	[ThanhPho] [nvarchar](100) NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](10, 7) NULL,
	[HinhAnh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[LoaiSanPham] [varchar](20) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Gia] [decimal](12, 2) NOT NULL,
	[TonKho] [int] NULL,
	[AnhUrl] [nvarchar](max) NULL,
	[DangHoatDong] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatLock]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatLock](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GheNgoiId] [bigint] NOT NULL,
	[LichChieuId] [bigint] NOT NULL,
	[NguoiDungId] [bigint] NULL,
	[LockedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[MaDatVe] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](500) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DatVeId] [bigint] NULL,
	[SoTien] [decimal](15, 2) NOT NULL,
	[PhuongThucThanhToan] [varchar](30) NULL,
	[MaGiaoDich] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ThoiGianThanhToan] [datetime2](7) NULL,
	[LyDoHoan] [nvarchar](max) NULL,
	[NgayHoan] [datetime2](7) NULL,
	[NguoiXuLyId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 7/24/2026 3:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [TieuDe], [HinhAnh], [LinkUrl], [ThuTu], [NgayBatDau], [NgayKetThuc], [DangHoatDong], [NgayTao]) VALUES (1, N'Thổi Bùng Cảm Xúc Bằng Điện Ảnh', N'https://picsum.photos/1920/600?random=1', N'/phim/1', 1, CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), 1, CAST(N'2026-06-01T12:15:32.4500000' AS DateTime2))
INSERT [dbo].[Banner] ([Id], [TieuDe], [HinhAnh], [LinkUrl], [ThuTu], [NgayBatDau], [NgayKetThuc], [DangHoatDong], [NgayTao]) VALUES (2, N'Bứt Mình Còn Nàng Tiên Cá', N'https://picsum.photos/1920/600?random=2', N'/phim/2', 2, CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), 1, CAST(N'2026-06-01T12:15:32.4500000' AS DateTime2))
INSERT [dbo].[Banner] ([Id], [TieuDe], [HinhAnh], [LinkUrl], [ThuTu], [NgayBatDau], [NgayKetThuc], [DangHoatDong], [NgayTao]) VALUES (3, N'Rạp Ơi Bao Giờ Hội Cá Hình', N'https://picsum.photos/1920/600?random=3', N'/phim/3', 3, CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), 1, CAST(N'2026-06-01T12:15:32.4500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Banner] OFF
GO
INSERT [dbo].[ChiTietDatSanPham] ([DatVeId], [SanPhamId], [SoLuong], [GiaLucMua]) VALUES (4, 1, 1, CAST(65000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietDatSanPham] ([DatVeId], [SanPhamId], [SoLuong], [GiaLucMua]) VALUES (5, 2, 1, CAST(45000.00 AS Decimal(12, 2)))
INSERT [dbo].[ChiTietDatSanPham] ([DatVeId], [SanPhamId], [SoLuong], [GiaLucMua]) VALUES (5, 3, 1, CAST(25000.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[DatVe] ON 

INSERT [dbo].[DatVe] ([Id], [MaDatVe], [NguoiDungId], [LichChieuId], [KhuyenMaiId], [TongTienGoc], [TienGiamKhuyenMai], [DiemSuDung], [TienGiamTuDiem], [TongTienThanhToan], [TrangThai], [TrangThaiThanhToan], [MaQR], [NgayTao], [HetHanGiuGhe]) VALUES (1, N'BK335045513', 2, 8, NULL, CAST(120000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(12, 2)), 0, CAST(0.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(15, 2)), N'cancelled', N'unpaid', NULL, CAST(N'2026-06-02T18:55:35.0460972' AS DateTime2), CAST(N'2026-06-02T19:10:35.0450361' AS DateTime2))
INSERT [dbo].[DatVe] ([Id], [MaDatVe], [NguoiDungId], [LichChieuId], [KhuyenMaiId], [TongTienGoc], [TienGiamKhuyenMai], [DiemSuDung], [TienGiamTuDiem], [TongTienThanhToan], [TrangThai], [TrangThaiThanhToan], [MaQR], [NgayTao], [HetHanGiuGhe]) VALUES (2, N'BK399784295', 2, 8, NULL, CAST(120000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(12, 2)), 0, CAST(0.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(15, 2)), N'cancelled', N'paid', NULL, CAST(N'2026-06-02T18:56:39.7844818' AS DateTime2), CAST(N'2026-06-02T19:11:39.7844818' AS DateTime2))
INSERT [dbo].[DatVe] ([Id], [MaDatVe], [NguoiDungId], [LichChieuId], [KhuyenMaiId], [TongTienGoc], [TienGiamKhuyenMai], [DiemSuDung], [TienGiamTuDiem], [TongTienThanhToan], [TrangThai], [TrangThaiThanhToan], [MaQR], [NgayTao], [HetHanGiuGhe]) VALUES (3, N'BK422622921', 2, 8, NULL, CAST(120000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(12, 2)), 0, CAST(0.00 AS Decimal(12, 2)), CAST(120000.00 AS Decimal(15, 2)), N'cancelled', N'unpaid', NULL, CAST(N'2026-06-02T19:13:42.6243030' AS DateTime2), CAST(N'2026-06-02T19:28:42.6233033' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DatVe] OFF
GO
SET IDENTITY_INSERT [dbo].[DinhDang] ON 

INSERT [dbo].[DinhDang] ([Id], [TenDinhDang]) VALUES (1, N'2D')
INSERT [dbo].[DinhDang] ([Id], [TenDinhDang]) VALUES (2, N'3D')
INSERT [dbo].[DinhDang] ([Id], [TenDinhDang]) VALUES (5, N'4DX')
SET IDENTITY_INSERT [dbo].[DinhDang] OFF
GO
SET IDENTITY_INSERT [dbo].[GheNgoi] ON 

INSERT [dbo].[GheNgoi] ([Id], [PhongChieuId], [HangGhe], [SoGhe], [LoaiGhe], [HeSoGia]) VALUES (1, 1, N'A ', 1, N'thường', CAST(1.00 AS Decimal(3, 2)))
INSERT [dbo].[GheNgoi] ([Id], [PhongChieuId], [HangGhe], [SoGhe], [LoaiGhe], [HeSoGia]) VALUES (2, 1, N'A ', 2, N'thường', CAST(1.00 AS Decimal(3, 2)))
INSERT [dbo].[GheNgoi] ([Id], [PhongChieuId], [HangGhe], [SoGhe], [LoaiGhe], [HeSoGia]) VALUES (3, 1, N'B ', 1, N'vip', CAST(1.50 AS Decimal(3, 2)))
GO
SET IDENTITY_INSERT [dbo].[GheNgoi] OFF
GO
INSERT [dbo].[GioiThieu] ([Id], [TieuDe], [NoiDung], [HinhAnhUrl], [NgayCapNhat]) VALUES (1, N'PolyCinema - He Thong Rap Hien Dai', N'ez', N'https://api-website.cinestar.com.vn/media/wysiwyg/CMSPage/Abouts/ht-qc-br.jpg', CAST(N'2026-07-24T15:22:24.4161910' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [MoTa], [LoaiGiamGia], [GiaTriGiam], [GiaTriGiamToiDa], [DonHangToiThieu], [CapDoApDung], [NgayBatDau], [NgayKetThuc], [GioiHanSuDung], [DaSuDung], [DangHoatDong]) VALUES (1, N'WELCOME20', N'Giảm 20% cho thành viên mới', N'', N'percent', CAST(20.00 AS Decimal(12, 2)), NULL, CAST(100000.00 AS Decimal(12, 2)), NULL, CAST(N'2025-05-01' AS Date), CAST(N'2025-06-30' AS Date), 100, 0, 1)
INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [MoTa], [LoaiGiamGia], [GiaTriGiam], [GiaTriGiamToiDa], [DonHangToiThieu], [CapDoApDung], [NgayBatDau], [NgayKetThuc], [GioiHanSuDung], [DaSuDung], [DangHoatDong]) VALUES (2, N'POLY10', N'Giảm 10% – Khách mới', N'Giảm 10% cho khách hàng mới và đầu tiên, tối đa 50.000đ', N'percent', CAST(10.00 AS Decimal(12, 2)), CAST(50000.00 AS Decimal(12, 2)), CAST(100000.00 AS Decimal(12, 2)), NULL, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 500, 0, 1)
INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [MoTa], [LoaiGiamGia], [GiaTriGiam], [GiaTriGiamToiDa], [DonHangToiThieu], [CapDoApDung], [NgayBatDau], [NgayKetThuc], [GioiHanSuDung], [DaSuDung], [DangHoatDong]) VALUES (3, N'WELCOME50K', N'Tặng 50.000đ – Chào mừng', N'Giảm thẳng 50.000đ cho đơn từ 200.000đ trở lên', N'fixed', CAST(50000.00 AS Decimal(12, 2)), NULL, CAST(200000.00 AS Decimal(12, 2)), NULL, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 200, 0, 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
INSERT [dbo].[KhuyenMai_Phim] ([KhuyenMaiId], [PhimId]) VALUES (1, 1)
INSERT [dbo].[KhuyenMai_Phim] ([KhuyenMaiId], [PhimId]) VALUES (2, 2)
GO
SET IDENTITY_INSERT [dbo].[LichChieu] ON 

INSERT [dbo].[LichChieu] ([Id], [PhimId], [PhongChieuId], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaCoBan], [TrangThai], [IsDeleted], [NgayTao]) VALUES (1, 1, 1, CAST(N'2025-05-28T19:00:00.0000000' AS DateTime2), CAST(N'2025-05-28T21:00:00.0000000' AS DateTime2), CAST(90000.00 AS Decimal(12, 2)), N'active', 0, CAST(N'2026-05-31T16:12:31.5666667' AS DateTime2))
INSERT [dbo].[LichChieu] ([Id], [PhimId], [PhongChieuId], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaCoBan], [TrangThai], [IsDeleted], [NgayTao]) VALUES (2, 2, 1, CAST(N'2025-05-28T14:00:00.0000000' AS DateTime2), CAST(N'2025-05-28T16:15:00.0000000' AS DateTime2), CAST(85000.00 AS Decimal(12, 2)), N'active', 0, CAST(N'2026-05-31T16:12:31.5666667' AS DateTime2))
INSERT [dbo].[LichChieu] ([Id], [PhimId], [PhongChieuId], [ThoiGianBatDau], [ThoiGianKetThuc], [GiaCoBan], [TrangThai], [IsDeleted], [NgayTao]) VALUES (3, 1, 4, CAST(N'2026-06-01T14:00:00.0000000' AS DateTime2), CAST(N'2026-06-01T16:30:00.0000000' AS DateTime2), CAST(80000.00 AS Decimal(12, 2)), N'active', 0, CAST(N'2026-06-01T12:23:00.2466667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[LichChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Id], [Email], [SoDienThoai], [MatKhauHash], [HoTen], [NgaySinh], [AnhDaiDien], [GoogleId], [FacebookId], [VaiTro], [TrangThai], [IsEmailVerified], [TongTienDaChi], [CapDoThanhVien], [DiemTichLuy], [LyDoKhoa], [NgayTao], [NgayCapNhat]) VALUES (1, N'acchinh2008@gmail.com', NULL, N'$2a$10$BYjS1FEYiYS7ouBjnTy2xuEn3MzZh7lpvg9GxrjKSjPIy7xIZOYIK', N'Admin', NULL, NULL, NULL, NULL, N'admin', 1, 1, CAST(0.00 AS Decimal(15, 2)), N'Thường', 0, NULL, CAST(N'2026-05-31T16:24:18.9066667' AS DateTime2), CAST(N'2026-06-01T13:23:32.6473990' AS DateTime2))
INSERT [dbo].[NguoiDung] ([Id], [Email], [SoDienThoai], [MatKhauHash], [HoTen], [NgaySinh], [AnhDaiDien], [GoogleId], [FacebookId], [VaiTro], [TrangThai], [IsEmailVerified], [TongTienDaChi], [CapDoThanhVien], [DiemTichLuy], [LyDoKhoa], [NgayTao], [NgayCapNhat]) VALUES (2, N'user1@gmail.com', NULL, N'$2a$10$wk/DY7tBwWgSJYAKAyNpn.QT1P8lNAqcauaRumwjVvlv731R.ksIi', N'Nguyễn Văn A', NULL, NULL, NULL, NULL, N'customer', 1, 1, CAST(120000.00 AS Decimal(15, 2)), N'Thường', 120, NULL, CAST(N'2026-05-31T16:24:18.9066667' AS DateTime2), CAST(N'2026-07-23T09:41:35.1148992' AS DateTime2))
INSERT [dbo].[NguoiDung] ([Id], [Email], [SoDienThoai], [MatKhauHash], [HoTen], [NgaySinh], [AnhDaiDien], [GoogleId], [FacebookId], [VaiTro], [TrangThai], [IsEmailVerified], [TongTienDaChi], [CapDoThanhVien], [DiemTichLuy], [LyDoKhoa], [NgayTao], [NgayCapNhat]) VALUES (4, N'binhnttv00241@gmail.com', N'0767613208', N'$2a$10$O/BytEmE/DIgR/USHcW7luuiXIf65ipTDvw1yELm9Ph9N0PupXpI2', N'bin', NULL, NULL, NULL, NULL, N'customer', 1, 1, CAST(0.00 AS Decimal(15, 2)), N'Thường', 0, NULL, CAST(N'2026-06-02T08:34:33.8812086' AS DateTime2), CAST(N'2026-06-02T08:34:53.7885839' AS DateTime2))
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
INSERT [dbo].[Phim_TheLoai] ([PhimId], [TheLoaiId]) VALUES (1, 3)
INSERT [dbo].[Phim_TheLoai] ([PhimId], [TheLoaiId]) VALUES (1, 4)
INSERT [dbo].[Phim_TheLoai] ([PhimId], [TheLoaiId]) VALUES (1, 6)
GO
SET IDENTITY_INSERT [dbo].[PhongChieu] ON 

INSERT [dbo].[PhongChieu] ([Id], [RapChieuId], [TenPhong], [LoaiPhong], [SucChua], [SoDoGhe], [TrangThai], [DinhDangId]) VALUES (1, 1, N'R1', N'2D', 200, NULL, 1, 1)
INSERT [dbo].[PhongChieu] ([Id], [RapChieuId], [TenPhong], [LoaiPhong], [SucChua], [SoDoGhe], [TrangThai], [DinhDangId]) VALUES (2, 1, N'R2', N'3D', 180, NULL, 1, 2)
INSERT [dbo].[PhongChieu] ([Id], [RapChieuId], [TenPhong], [LoaiPhong], [SucChua], [SoDoGhe], [TrangThai], [DinhDangId]) VALUES (3, 2, N'P1', N'IMAX', 250, NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[PhongChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[RapChieu] ON 

INSERT [dbo].[RapChieu] ([Id], [TenRap], [DiaChi], [SoDienThoai], [BanDoUrl], [TrangThai], [ThanhPho], [Latitude], [Longitude], [HinhAnh]) VALUES (1, N'CGV Vincom Landmark', N'Vincom Landmark 81, TP.HCM', NULL, NULL, 1, N'TP.HCM', NULL, NULL, NULL)
INSERT [dbo].[RapChieu] ([Id], [TenRap], [DiaChi], [SoDienThoai], [BanDoUrl], [TrangThai], [ThanhPho], [Latitude], [Longitude], [HinhAnh]) VALUES (2, N'Lotte Cinema Thủ Đức', N'Landmark 81, TP.HCM', NULL, NULL, 1, N'TP.HCM', NULL, NULL, NULL)
INSERT [dbo].[RapChieu] ([Id], [TenRap], [DiaChi], [SoDienThoai], [BanDoUrl], [TrangThai], [ThanhPho], [Latitude], [Longitude], [HinhAnh]) VALUES (3, N'Rạp Lotte Cinema - Tây Hồ', N'6', N'024 3333 8888', N'https://maps.google.com/?q=Lotte+Cinema+Hanoi', 1, N'Hà Nội', NULL, NULL, N'https://api-website.cinestar.com.vn/media/MageINIC/bannerslider/01-Mat-Tien.jpg')
SET IDENTITY_INSERT [dbo].[RapChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [TenSanPham], [LoaiSanPham], [MoTa], [Gia], [TonKho], [AnhUrl], [DangHoatDong]) VALUES (1, N'Combo Bắp + Nước', N'combo', NULL, CAST(65000.00 AS Decimal(12, 2)), 0, NULL, 1)
INSERT [dbo].[SanPham] ([Id], [TenSanPham], [LoaiSanPham], [MoTa], [Gia], [TonKho], [AnhUrl], [DangHoatDong]) VALUES (2, N'Bắp Rang Bơ Lớn', N'food', NULL, CAST(45000.00 AS Decimal(12, 2)), 0, NULL, 1)
INSERT [dbo].[SanPham] ([Id], [TenSanPham], [LoaiSanPham], [MoTa], [Gia], [TonKho], [AnhUrl], [DangHoatDong]) VALUES (3, N'Nước Ngọt Pepsi', N'drink', NULL, CAST(25000.00 AS Decimal(12, 2)), 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[SystemConfig] ([ConfigKey], [ConfigValue], [UpdatedAt]) VALUES (N'SEAT_LOCK_MINUTES', N'10', CAST(N'2026-07-04T19:13:25.3366667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([Id], [DatVeId], [SoTien], [PhuongThucThanhToan], [MaGiaoDich], [TrangThai], [ThoiGianThanhToan], [LyDoHoan], [NgayHoan], [NguoiXuLyId]) VALUES (1, 2, CAST(120000.00 AS Decimal(15, 2)), N'VNPay', N'TEST123456', N'refunded', CAST(N'2026-06-02T18:57:12.9108025' AS DateTime2), N'Admin hoàn tiền', CAST(N'2026-06-02T19:13:43.6586934' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoai] ON 

INSERT [dbo].[TheLoai] ([Id], [TenTheLoai]) VALUES (1, N'Hài')
INSERT [dbo].[TheLoai] ([Id], [TenTheLoai]) VALUES (2, N'Hành động, Siêu anh hùng')
INSERT [dbo].[TheLoai] ([Id], [TenTheLoai]) VALUES (3, N'Hành động, Tâm lý, Việt Nam')
SET IDENTITY_INSERT [dbo].[TheLoai] OFF
GO
/****** Object:  Index [UQ__DanhGiaP__94338AAF3C83DBB9]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[DanhGiaPhim] ADD UNIQUE NONCLUSTERED 
(
	[PhimId] ASC,
	[NguoiDungId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DatVe__6A32C592AD4003F0]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[DatVe] ADD UNIQUE NONCLUSTERED 
(
	[MaDatVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DinhDang_Ten]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[DinhDang] ADD  CONSTRAINT [UQ_DinhDang_Ten] UNIQUE NONCLUSTERED 
(
	[TenDinhDang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GheNgoi__747F92AEC284522D]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[GheNgoi] ADD UNIQUE NONCLUSTERED 
(
	[PhongChieuId] ASC,
	[HangGhe] ASC,
	[SoGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__6F56B3BCEE04D621]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NguoiDung_Email]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [UQ_NguoiDung_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__1EB4F817C0F64689]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[PasswordResetToken] ADD UNIQUE NONCLUSTERED 
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TheLoai__327F958FF11E9762]    Script Date: 7/24/2026 3:36:46 PM ******/
ALTER TABLE [dbo].[TheLoai] ADD UNIQUE NONCLUSTERED 
(
	[TenTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[Banner] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DanhGiaPhim] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ((0)) FOR [TongTienGoc]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ((0)) FOR [TienGiamKhuyenMai]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ((0)) FOR [DiemSuDung]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ((0)) FOR [TienGiamTuDiem]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ('pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT ('unpaid') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[DatVe] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GheNgoi] ADD  DEFAULT (N'thường') FOR [LoaiGhe]
GO
ALTER TABLE [dbo].[GheNgoi] ADD  DEFAULT ((1.0)) FOR [HeSoGia]
GO
ALTER TABLE [dbo].[GioiThieu] ADD  DEFAULT ((1)) FOR [Id]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [DaSuDung]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[LichChieu] ADD  DEFAULT ('active') FOR [TrangThai]
GO
ALTER TABLE [dbo].[LichChieu] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[LichChieu] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuCapNhatPhim] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('customer') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [TongTienDaChi]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (N'Thường') FOR [CapDoThanhVien]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT ((0)) FOR [DaSuDung]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [DiemDanhGia]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [SoLuongDanhGia]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('sap_chieu') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhongChieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[RapChieu] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('food') FOR [LoaiSanPham]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [TonKho]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [DangHoatDong]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ('pending') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDatGhe]  WITH CHECK ADD FOREIGN KEY([DatVeId])
REFERENCES [dbo].[DatVe] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatGhe]  WITH CHECK ADD FOREIGN KEY([GheNgoiId])
REFERENCES [dbo].[GheNgoi] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDatGhe]  WITH CHECK ADD FOREIGN KEY([LichChieuId])
REFERENCES [dbo].[LichChieu] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDatSanPham]  WITH CHECK ADD FOREIGN KEY([DatVeId])
REFERENCES [dbo].[DatVe] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDatSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaPhim]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[DanhGiaPhim]  WITH CHECK ADD FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([Id])
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD FOREIGN KEY([LichChieuId])
REFERENCES [dbo].[LichChieu] ([Id])
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[GheNgoi]  WITH CHECK ADD FOREIGN KEY([PhongChieuId])
REFERENCES [dbo].[PhongChieu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiPhim_KhuyenMai] FOREIGN KEY([KhuyenMaiId])
REFERENCES [dbo].[KhuyenMai] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMai_Phim] CHECK CONSTRAINT [FK_KhuyenMaiPhim_KhuyenMai]
GO
ALTER TABLE [dbo].[KhuyenMai_Phim]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMaiPhim_Phim] FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhuyenMai_Phim] CHECK CONSTRAINT [FK_KhuyenMaiPhim_Phim]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD FOREIGN KEY([PhongChieuId])
REFERENCES [dbo].[PhongChieu] ([Id])
GO
ALTER TABLE [dbo].[LichSuCapNhatPhim]  WITH CHECK ADD FOREIGN KEY([NguoiSuaId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[LichSuCapNhatPhim]  WITH CHECK ADD FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD FOREIGN KEY([NguoiDungId])
REFERENCES [dbo].[NguoiDung] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phim_DinhDang]  WITH CHECK ADD  CONSTRAINT [FK_PhimDinhDang_DinhDang] FOREIGN KEY([DinhDangId])
REFERENCES [dbo].[DinhDang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phim_DinhDang] CHECK CONSTRAINT [FK_PhimDinhDang_DinhDang]
GO
ALTER TABLE [dbo].[Phim_DinhDang]  WITH CHECK ADD  CONSTRAINT [FK_PhimDinhDang_Phim] FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phim_DinhDang] CHECK CONSTRAINT [FK_PhimDinhDang_Phim]
GO
ALTER TABLE [dbo].[Phim_TheLoai]  WITH CHECK ADD FOREIGN KEY([PhimId])
REFERENCES [dbo].[Phim] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phim_TheLoai]  WITH CHECK ADD FOREIGN KEY([TheLoaiId])
REFERENCES [dbo].[TheLoai] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD FOREIGN KEY([RapChieuId])
REFERENCES [dbo].[RapChieu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD  CONSTRAINT [FK_PhongChieu_DinhDang] FOREIGN KEY([DinhDangId])
REFERENCES [dbo].[DinhDang] ([Id])
GO
ALTER TABLE [dbo].[PhongChieu] CHECK CONSTRAINT [FK_PhongChieu_DinhDang]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([DatVeId])
REFERENCES [dbo].[DatVe] ([Id])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([NguoiXuLyId])
REFERENCES [dbo].[NguoiDung] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDatSanPham]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DanhGiaPhim]  WITH CHECK ADD CHECK  (([Diem]>=(1) AND [Diem]<=(5)))
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD CHECK  (([TrangThai]='completed' OR [TrangThai]='cancelled' OR [TrangThai]='confirmed' OR [TrangThai]='pending'))
GO
ALTER TABLE [dbo].[DatVe]  WITH CHECK ADD CHECK  (([TrangThaiThanhToan]='refunded' OR [TrangThaiThanhToan]='paid' OR [TrangThaiThanhToan]='unpaid'))
GO
ALTER TABLE [dbo].[GheNgoi]  WITH CHECK ADD CHECK  (([HeSoGia]>(0)))
GO
ALTER TABLE [dbo].[GheNgoi]  WITH CHECK ADD CHECK  (([LoaiGhe]=N'khuyết tật' OR [LoaiGhe]=N'cặp đôi' OR [LoaiGhe]=N'vip' OR [LoaiGhe]=N'thường'))
GO
ALTER TABLE [dbo].[GioiThieu]  WITH CHECK ADD  CONSTRAINT [CK_GioiThieu_Singleton] CHECK  (([Id]=(1)))
GO
ALTER TABLE [dbo].[GioiThieu] CHECK CONSTRAINT [CK_GioiThieu_Singleton]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([CapDoApDung]=N'Kim Cương' OR [CapDoApDung]=N'Vàng' OR [CapDoApDung]=N'Bạc' OR [CapDoApDung]=N'Thường'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([GiaTriGiam]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([GiaTriGiamToiDa]>(0)))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([LoaiGiamGia]='fixed' OR [LoaiGiamGia]='percent'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [CK_KhuyenMai_Ngay] CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [CK_KhuyenMai_Ngay]
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD CHECK  (([TrangThai]='completed' OR [TrangThai]='cancelled' OR [TrangThai]='active'))
GO
ALTER TABLE [dbo].[LichChieu]  WITH CHECK ADD  CONSTRAINT [CK_ThoiGian] CHECK  (([ThoiGianKetThuc]>[ThoiGianBatDau]))
GO
ALTER TABLE [dbo].[LichChieu] CHECK CONSTRAINT [CK_ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([CapDoThanhVien]=N'Kim Cương' OR [CapDoThanhVien]=N'Vàng' OR [CapDoThanhVien]=N'Bạc' OR [CapDoThanhVien]=N'Thường'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='customer' OR [VaiTro]='staff' OR [VaiTro]='admin'))
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([ThoiLuong]>(0)))
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([TrangThai]='ngung_chieu' OR [TrangThai]='dang_chieu' OR [TrangThai]='sap_chieu'))
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD  CONSTRAINT [CK_Phim_PhanLoaiDoTuoi] CHECK  (([PhanLoaiDoTuoi] IS NULL OR ([PhanLoaiDoTuoi]='T18' OR [PhanLoaiDoTuoi]='T16' OR [PhanLoaiDoTuoi]='T13' OR [PhanLoaiDoTuoi]='K' OR [PhanLoaiDoTuoi]='P')))
GO
ALTER TABLE [dbo].[Phim] CHECK CONSTRAINT [CK_Phim_PhanLoaiDoTuoi]
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD CHECK  (([LoaiPhong]=N'IMAX' OR [LoaiPhong]=N'3D' OR [LoaiPhong]=N'2D'))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([LoaiSanPham]='drink' OR [LoaiSanPham]='food' OR [LoaiSanPham]='combo'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([PhuongThucThanhToan]='MasterCard' OR [PhuongThucThanhToan]='Visa' OR [PhuongThucThanhToan]='ATM' OR [PhuongThucThanhToan]='Momo' OR [PhuongThucThanhToan]='VNPay'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([TrangThai]='refunded' OR [TrangThai]='failed' OR [TrangThai]='success' OR [TrangThai]='pending'))
GO
